@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: #080808;
}

#header {
    width: 100%;
    height: 100vh;
}

.logo {
    width: 90px;
    height: 90px;
}

.container {
    padding: 20px 10%;
    padding-bottom: 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /*
    width: 80%;
    position: fixed;*/
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #080808;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #76B5C5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #76B5C5;
}

/* ################ ABOUT ################*/
#about {
    padding: 80px 0;
    color: #3d3d3d;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    text-align: justify;
}

.sub-title {
    color: #080808;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    align-items: center;
}

.tab-links {
    margin-right: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #76B5C5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.6s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;   
    font-size: 16px;
}

.tab-contents ul li span {
    color: #76B5C5;
    font-size: 16px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* ################ PORTFOLIO ################*/
#portfolio {
    padding: 85px 0;
    /*display: none;*/
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.6s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(255, 255, 255, 0.6),#76B5C5);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.6s;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
    font-size: 18px;
}

.layer h3 {
    font-weight: 700;
    margin-bottom: 20px;
}

/* ################ TECH ################*/
#technologies {
    padding: 80px 0;
}
.tech-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 40px;
    margin-top: 60px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.tech {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.tech img {
    width: 85%;
    border-radius: 10px;
    display: block;
}

/* ################ CONTACT ################*/
#contact {
    padding: 80px 0;
}

.social-icons {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: 0.6s;
}

.social-icons a:hover {
    color: #76B5C5;
    transform: translateY(-5px);
}

.row.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.btn.btn2 {
    display: flex;
    background: #76B5C5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    padding: 20px;
    transition: 0.6s;
}

.btn.btn2:hover {
    transform: translateY(-5px);
}

/* ################ FOOTER ################*/
footer {
    background: #76B5C5;
    color: #ffff;
    padding: 20px;
}

.container.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logofooter {
    display: flex;
}

.logofooter img{
    width: 75%;
}


.row.footer {
    justify-content: center;
}

.container.footer p {
    margin: 10px;
}

/*-------------- smail screan ----------- */
nav .fa-solid{
    display: none;
    color:#080808;
}

@media screen and (max-width: 980px){
    .header-text{
        font-size: 30px;
    }
    .header-text h1 {
        font-size: 40px;
    }
    .container {
        padding: 20px 10%;
        padding-bottom: 80px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #76B5C5;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title {
        font-size: 40px;
    }
    #about {
        padding: 60px 0;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-1 img {
        width: 50%;
        border-radius: 15px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-2 {
        font-size: 14px;
    }
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    .tech img {
        width: 50%;
        border-radius: 10px;
        display: block;
    }
    .logofooter {
        display: block;
        width: 50%;
    }
    
}

